/* Colors
#558B71 - Dark Green
#dde8e3 - Light Green
#215A78 - Dark Blue
#bcced7 - Light Blue

/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

/* Basic body styling */
body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Container for consistent width */
.container {
}

/* Header Styling */
header {
    background-color: #215A78; /* Dark background */
    border-bottom: 0.125rem solid #23272b;
    padding: 0.625rem 0;
}

/******************/
/* Navigation Bar */
/*****************/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Prevents overflow on small screens */
    padding: 0 1.25rem;
}

/* Logo & Text Styling */
.logo-container {
    display: flex;
    align-items: center;
    gap: 0.9375rem; /* Space between logo and text */
}

.logo img {
    height: 4rem;
}

/* PEAK 14 SOLUTIONS Text */
.branding {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.875rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.3125rem;
    cursor: pointer;
    text-decoration: none;
}

/* Navigation Links */
.nav-links {
    display: flex;
    align-items: center;
    gap: 3.125rem; /* Space between links */
}

.nav-links a {
    position: relative;
    color: #f8f9fa;
    text-decoration: none;
    padding: 0.625rem 0;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

/* Spacing for icons */
.nav-links a svg {
    margin-right: 0.5rem;
    vertical-align: middle;
}

/* Underline animation for nav links */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.125rem;
    width: 100%;
    height: 0.125rem;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.35s ease-in-out;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

/******************/
/* NAVBAR Dropdwon */
/*****************/
.dropdown {
    position: relative;
}

/* Dropdown menu styling */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #215A78; /* Dark blue background */
    border-radius: 0.3125rem;
    padding: 0; /* Remove extra padding to fix gaps */
    display: none;
    flex-direction: column;
    width: 13.75rem;
    box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5); /* Adds depth */
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    z-index: 10;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

/* Dropdown items */
.dropdown-menu li {
    list-style: none;
}

/* Styling for dropdown links */
.dropdown-menu a {
    display: flex;
    align-items: center;
    color: white; /* Keep text white */
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    transition: background-color 0.3s ease;
}

/* Remove underline animation from Resources link & dropdown items */
.no-underline::after,
.dropdown-menu a::after {
    display: none !important;
}

/* Arrow, shifting effect & green background on hover */
.dropdown-menu a:hover {
    padding-left: 1.875rem; /* Moves text to the right */
    background-color: #558B71; /* Background turns green */
}

/* Ensure first and last items fully turn green */
.dropdown-menu li:first-child a:hover {
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
}

.dropdown-menu li:last-child a:hover {
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
}

/* Arrow stays white */
.dropdown-menu a:hover::before {
    content: "➤";
    position: absolute;
    left: 0.625rem;
    font-size: 0.875rem;
    color: white;
}

.dropdown-menu li {
    margin-left: 0 !important; /* Resets the margin for dropdown <li>s */
}

/* Ensure dropdown stays above other elements */
.nav-links {
    position: relative;
    z-index: 1000;
}

/***********************/
/* HELPFUL LINKS DROP */
/*********************/
.helpful-links-section {
    width: 27%;
    max-width: 50rem;
    margin: 0 auto;
}

/* Dropdown Styles */
.dropdown-container {
    margin-bottom: 1.25rem; /* Space between sections */
    width: 100%;
}

.dropdown-header {
    display: flex;
    align-items: center; /* Vertically align items */
    cursor: pointer;
    padding: 0.625rem;
    background-color: #558B71; /* Teal Green */
    color: white;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    width: 100%;
}

.dropdown-header:hover {
    background-color: #215A78; /* Darker Blue on hover */
}

.dropdown-toggle {
    font-size: 1.2em; /* Adjust plus/minus size */
    transition: transform 0.3s ease; /* Smooth rotation */
}

.dropdown-content {
    display: none; /* Initially hidden */
    padding: 0.625rem;
    background-color: #f8f8f8; /* Light gray background */
    border: 0.625rem solid #ddd; /* Light gray border */
    border-top: none; /* Remove top border */
    border-radius: 0 0 0.3125rem 0.3125rem; /* Round only the bottom corners */
}

.dropdown-content a {
    display: block; /* Make links stack vertically */
    padding: 0.3125rem 0; /* Add some vertical padding */
    color: #333; /* Dark gray text color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.dropdown-content a:hover {
    color: #215A78; /* Blue color on hover */
}

.dropdown-content ul {
    list-style-type: disc; /* Use bullet points for lists*/
    margin-left: 1.25rem; /* Indent the list */
    padding: 0;
}

/* Rotate the plus/minus icon on toggle */
.dropdown-toggle.active {
    transform: rotate(90deg);
}

/**************/
/* RESOURCES */
/*************/
  /* Initially hide all resource overlays */
.resource-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Center the overlay */
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Higher than dropdown */
    border-radius: 10px;
    padding: 20px;
}

.resource-overlay.active {
    display: block;
}

.resource-content {
    color: black;
    padding: 20px;
    overflow-y: auto;
    max-height: 70vh;
}

.resource-content ul ul, li {
    margin-left: 20px;
}

.close-overlay {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

.close-overlay:hover {
    color: #888;
}

.resource-section {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Text aligned left */
    height: 100vh;
    width: 100vw;
    background: url('https://peak14.solutions/wp-content/uploads/2020/04/Mount_Meeker_and_Longs_Peak.jpg') no-repeat center center/cover;
    background-position: 0% 25%; /* background image */
    color: white;
    padding-left: 5%;
    position: relative;
}

/* Resource Content */
.resource-container {
    max-width: 500px;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay for readability */
    padding: 2rem;
    border-radius: 10px;
}


/* Resource Description */
.resource-description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.intro-paragraph {
    text-align: center; /* Center the introductory paragraphs */
}

.payment-section {
    background-color: #f5f5f5;
    padding: 2.5rem;
    text-align: center;
    color: #fff;
}

.payment-title {
    font-size: 1.75rem;
    margin-bottom: 0.625rem;
    color: black; /* Soft white */
}

.payment-subtitle {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    color: black;
}

/* Grid Layout */
.payment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.25rem;
    max-width: 37.5rem;
    margin: 0 auto;
}

/* Payment Card Styling */
.payment-card {
    background-color: #e9eff2; /* Slightly lighter navy */
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14.375rem; /* Fixed height for uniformity */
}

.payment-card figure {
    margin: 0;
}

.payment-card img {
    width: 3.75rem;
    height: auto;
    margin-bottom: 0.625rem;
}

.payment-info {
    font-size: 0.875rem;
    color: black;
    margin: 0.3125rem 0;
}

/* Button at Bottom */
.button-container {
    margin-top: auto; /* Push button to bottom */
    width: 100%;
    display: flex;
    justify-content: center;
}

.payment-card button {
    background-color: #215A78;
    color: white;
    border: none;
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.payment-card button:hover {
    background-color: #558B71;
}

/* Preferred Banner */
.preferred {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: white; /* Slightly different navy */
}

.preferred-banner {
    position: absolute;
    top: -0.625rem;
    left: -0.625rem;
    background-color: #FFD700; /* Gold */
    color: #000;
    font-weight: bold;
    padding: 0.3125rem 0.625rem;
    font-size: 0.875rem;
    border-radius: 0.3125rem;
}

/****************/
/* TESTIMONIAL */
/**************/
.testimonial-section {
    text-align: center;
    padding: 1.25rem;
    overflow: hidden;
    position: relative;
    background-color: #215A78;
    width: 100%;
    margin: auto;
}

.testimonial-slider {
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    > * {
        flex: 0 0 100%;
    }
    position: relative;
    &:hover .slides {
        animation-play-state: paused;
    }
}

.slides {
    display: flex;
    gap: 1.25rem;
    padding-right: 1.25rem;
    will-change: transform;
    animation: scroll 15s linear infinite;
    width: max-content;
}

.testimonial-card {
    display: inline-block;
    width: 15.625rem;
    height: 15.625rem;
    box-sizing: border-box;
    padding: 1.25rem;
    background: #e9eff2;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    margin: 0.625rem;
    text-align: center;
    white-space: normal;
}

.testimonial-name {
    font-weight: bold;
    margin-bottom: 0.3125rem;
}

.testimonial-text {
    flex-grow: 1; /* Allow text to take up available space */
    overflow: hidden;
    max-height: calc(5 * 1.2em);
    text-overflow: ellipsis;
    margin-bottom: 0.625rem;
}

.testimonial-title {
    font-size: 2.25rem;
    text-align: center;
    color: #e9eff2;
    margin-bottom: 1.25rem;
}

.star-rating {
    text-align: center; /* Center the stars */
    color: gold; /* Star color */
}

@keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

/*****************/
/* SCROLL TO TOP */
/****************/
.arrow-container {
    display: none;
    position: fixed;
    bottom: 25%;
    right: 5%;
    width: 3.125rem;
    height: 3.125rem;
    background: #b3b3b3;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(0,0,0,0.2);
    transition: transform 0.3s;
    z-index: 2;
}

.arrow-container:hover {
    transform: translateY(-0.3125rem);
}

.arrow-container svg {
    width: 1.5rem;
    height: 1.5rem;
}

/****************/
/* HERO SECTION */
/***************/
.hero-section {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Text aligned left */
    height: 100vh;
    width: 100vw;
    background: url('peaks.jpg') no-repeat center center/cover;
    background-position: 0% 25%; /* background image */
    color: white;
    padding-left: 5%;
    position: relative;
}

/* Hero Content */
.hero-content {
    max-width: 31.25rem;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay for readability */
    padding: 2rem;
    border-radius: 0.625rem;
}

/* Hero Title */
.hero-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* Hero Description */
.hero-description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

/* BUTTONS */
.btn {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Primary Button */
.primary-btn {
    background-color: #215A78;
    color: white;
    margin-right: 1.25rem; /* Space between buttons */
    border: 0.125rem solid transparent;
}

.primary-btn:hover {
    background-color: #558B71;
    border: 0.125rem solid white; /* White border */
    transform: scale(1.1);
}

/* Secondary Button */
.secondary-btn {
    background-color: transparent;
    border: 0.125rem solid white;
    color: white;
}

.secondary-btn:hover {
    background-color: white;
    color: #215A78;
    border: 0.125rem solid #215A78; /* Blue border */
    transform: scale(1.1);
}

/* Button Group */
.button-group {
    display: flex;
    gap: 1.25rem; /* Space between buttons */
}

/********************/
/* FEATURES SECTION */
/*******************/
.features-section {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 3.125rem 0;
}

/* Section Title */
.section-title {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 0.125rem solid #ccc;
    padding-bottom: 0.625rem;
    margin-bottom: 1.875rem;
}

/* Features Layout */
.features-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.125rem;
}

/* Left Column */
.features-text {
    flex: 1;
}

.features-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.625rem;
}

.features-description {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 1.25rem;
}

/* Right Column (Grid) */
.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    flex: 1;
}

/* Feature Box */
.feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

/* Feature Icon */
.feature-icon {
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #558B71;
    border-radius: 0.625rem;
    padding: 0.625rem;
}

.feature-icon img {
    width: 2.25rem;
    height: 2.25rem;
    filter: invert(1);
}

/* Feature Title */
.feature-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* Feature Description */
.feature-description {
    font-size: 1rem;
    color: #666;
}

/*********************/
/* ABOUT US SECTION */
/*******************/
.team-section {
    text-align: center;
    padding: 2.5rem;
    background-color: #f5f5f5;
}

.team-section h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.team-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    flex-wrap: wrap;
}

.team-member {
    position: relative;
    width: 15.625rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 0.625rem;
    transition: transform 0.3s ease-in-out;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.team-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    transition: opacity 0.3s ease-in-out;
}

/* Name Plaque / Social Container */
.name-plaque {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    text-align: center;
    padding: 0.625rem;
    font-size: 1.125rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for background and color */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center horizontally */
}

/* Social Links in Name Plaque */
.name-plaque .social-links {
    position: absolute;
    bottom: 1.25rem;
    display: flex;
    justify-content: center;
    gap: 20px; /* Reduced gap */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-top: 0.625rem; /* Space between name and social links */
}

.social-links a {
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.social-links a:hover {
    transform: scale(1.2);
}

.social-links img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Bio Overlay */
.bio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.625rem;
    z-index: 2; /* Ensure bio overlay is on top */
}

/* Show bio overlay and hide image on hover */
.team-member:hover .bio-overlay {
    opacity: 1;
}

.team-member:hover .team-image img {
    opacity: 1;
}

/* Show Social Links and Hide Name When Bio is Active */
.team-member:hover .name-plaque {
    background-color: rgba(50, 50, 50, 0.9);
}

.team-member:hover .name-plaque span {
    display: none;
}

.team-member:hover .name-plaque .social-links {
    opacity: 1;
    z-index: 3; /* Ensure social links are on top of bio */
}

.bio-text {
    text-align: center; /* Center bio text */
}

/********************/
/* CONTACT US FORM */
/*******************/
.contact-section {
    background-image: url('https://peak14.solutions/wp-content/uploads/2020/04/Mt._Elbert_Colorado-scaled.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    background-color: rgba(162, 189, 180, 1);
    background-blend-mode: multiply;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

.contact-form {
    background: white;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
    max-width: 25rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.25rem; /* Space between form and links */
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.625rem;
    margin: 0.625rem 0;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
}

.contact-form button {
    background-color: #558B71;
    color: white;
    padding: 0.625rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    width: 100%;
}
.contact-form button:hover {
    background-color: #446b58;
}

.contact-section .header {
    background-color: #558B71; /* Teal background */
    padding: 1.25rem 0; /* Add some padding top and bottom */
    margin-bottom: 1.25rem; /* Space between header and form */
    position: relative; /* Needed for absolute positioning of h2 */
    top: -50%; /* Moves the header up by 50% of its height */
    transform: translateY(-50%); /* Centers the header vertically */
    border-radius: 0.3125rem;
}

.contact-section .header h2 {
    color: white; /* White text */
    text-align: center; /* Centers the text horizontally */
    margin: 0; /* Remove default h2 margins */
}

.form-message {
    font-size: 1rem;
    font-weight: bold;
    margin-top: -2.5rem;
}

/**********/
/* Footer */
/*********/
footer {
    background-color: #215A78;
    color: white;
    text-align: center;
    padding: 1.25rem 0;
}

footer .container {
    margin: 1.5rem;
}

.footer-grid {
    justify-items: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    gap: 1.25rem;
    align-items: center;
    max-width: 100%
    margin: 0 auto;
    padding: 0;
}

.footer-left {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.625rem
}

.footer-left svg {
    margin-right: 0.625rem; /* Space between icon and text */
}

.footer-left a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

/* Style the privacy policy overlay */
.modal-overlay {
    display: none; /* Ensures it is not shown on page load */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 1.25rem;
    border-radius: 0.5rem;
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0.625rem;
    right: 0.9375rem;
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
}

.modal-body {
    max-height: 25rem;
    overflow-y: auto;
    padding-right: 0.625rem;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

/* Hide default scrollbar in WebKit browsers */
.modal-body::-webkit-scrollbar {
    width: 0.375rem;
}

.modal-body::-webkit-scrollbar-track {
    background: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.25rem;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.dark{
    color: #4d4949;
}
.dark a {
    text-decoration: none;
    color: #4d4949;
}

