<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- HELPFUL LINKS SECTION -->
<div class="helpful-links-section">
    <div class="helpful-dropdown-container">
        <div class="helpful-dropdown-header" onclick="toggleHelpfulDropdown(this)">
            <span class="helpful-dropdown-toggle">+</span>
            <h2>Forums</h2>
        </div>
        <div class="helpful-dropdown-content">
            <a href="https://www.facebook.com/groups/filemakerdevs" target="_blank">
                FileMaker Pro Users/Developers (Facebook Group)
            </a>
            <ul>
                <li>Good for quick replies</li>
            </ul>
            <a href="http://community.claris.com/" target="_blank">
                Claris Community (online forum)
            </a>
            <ul>
                <li>Good for in-depth answers</li>
            </ul>
        </div>


        <div class="helpful-dropdown-header" onclick="toggleHelpfulDropdown(this)">
            <span class="helpful-dropdown-toggle">+</span>
            <h2>Learning Videos</h2>
        </div>
        <div class="helpful-dropdown-content">
            <a href="https://www.youtube.com/channel/UC92MpDPgdr-xEn3JRUAmZOQ" target="_blank">ISO FileMaker
                Magazine</a>
            <ul>
                <li>Great to learn intermediate materials</li>
            </ul>
            <a href="https://www.youtube.com/user/FileMakerVideos" target="_blank">FileMaker Training Videos</a>
            <ul>
                <li>Great to learn beginning materials</li>
            </ul>
            <a href="https://www.youtube.com/channel/UCXp4kolYmlCJacKmBd1zYoA" target="_blank">FileMaker
                Beginner</a>
            <ul>
                <li>Great to learn the basics of how FileMaker works</li>
            </ul>
            <a href="https://www.linkedin.com/learning/filemaker-relational-database-design" target="_blank">
                Relational Database Design Online Class
            </a>
            <ul>
                <li>Free for first month if you sign up</li>
                <li>Good for understanding how the relationship graph works and how to utilize it</li>
            </ul>
            <a href="https://www.linkedin.com/learning/filemaker-pro-essential-training-2" target="_blank">
                FileMaker Essential Online Class
            </a>
            <ul>
                <li>Free for first month if you sign up</li>
                <li>Good for a basic overview of FileMaker</li>
            </ul>
        </div>


        <div class="helpful-dropdown-header" onclick="toggleHelpfulDropdown(this)">
            <span class="helpful-dropdown-toggle">+</span>
            <h2>Documentation</h2>
        </div>
        <div class="helpful-dropdown-content">
            <a href="https://help.claris.com/en/pro-help/content/index.html" target="_blank">Filemaker Docs</a>
        </div>
    </div>
</div>
</section>


</body>
</html>